* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 8%);
}

/* CONTAINER STYLE */
.container {
  height: 650px;
  width: 500px;
  border-radius: 20px;
  background-color: hsl(0, 0%, 12%);
}

@media screen and (max-width: 500px) {
  .container {
    width: 90%;
  }
}

/* ABOUT STYLES */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
}

.avatar {
  object-fit: cover;
  object-position: top;
  border-radius: 100%;
  height: 90px;
  width: 90px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.details h4 {
  color: hsl(75, 94%, 57%);
  margin-top: 8px;
  font-weight: 600;
}
.details p {
  margin-top: 25px;
  font-size: 14px;
  font-weight: 400;
}

/* LINK STYLES */
.links {
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 20px;
}

.links a {
  margin: 10px;
  height: 50px;
  width: 90%;
  border-radius: 10px;
  padding: 15px;
  background-color: hsl(0, 0%, 20%);
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 15px;
  box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.08);
}
