* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  text-align: center;
  height: 500px;
  width: 400px;
  border: 5px solid red;
}

.info img {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  margin: 10px;
}

.info h4 {
  color: green;
}

.intro {
  margin-top: 25px;
}

/* LINK SECTION STYLES */
.links {
  margin-top: 25px;
}

.links ul {
  list-style-type: none;
}

.links li {
  border: 1px solid blue;
  border-radius: 10px;
  height: 50px;
  text-align: center;
  margin: 10px;
  padding-top: 15px;
}

.links li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* FOOTER */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
